<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>cssLink}}
    <title>Page not found</title>
</head>
<body>
    {{>navbar}}
    <div class="container-lg ">
        <div class="row">
            <div class="col mx-auto my-auto">
                <h1 class="display-3 text-light text-center mt-5">404 Page not found</h1>
                <div class="text-center">
                <a href="/" class="btn mt-5">HOME</a>
                </div>
            </div>
            <div class="col-sm">
                <div>
                <img src="utilities/five.png" alt="404 image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    {{>jsLink}}
</body>
</html>