<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>cssLink}}
    <title>Farm-Flex</title>
</head>
<body>
    {{>navbar}}

      <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container text-light">  
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                    <h1 class="text-capitalize fw-bold display-3">Build your dreams quickly</h1>
                    <p class="lead py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos officia natus nisi sit voluptatibus error molestias magni quod, consectetur doloribus fugit eveniet ut sint tempora.</p>
                    <button class="btn" id="bottom">
                        <a href="/login" class="btn text-dark ">Get started</a>
                        <em class="ml-2" data-feather="arrow-right"></em>
                    </button>
                </div>
            </div>
        </div>
    </section>

    {{>jsLink}}
</body>
</html>